<div>
  <button (click)="addNew()" class="btn btn-small btn-info">Add New Contact</button>
</div>

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" />

  <div class="form-group">
    <label>Firstname</label>
    <input name="firstname" #firstname="ngModel" [(ngModel)]="service.formData.firstname" class="form-control" required />
    <div class="validation-error" *ngIf="firstname.invalid && firstname.touched">This field is required</div>
  </div>

  <div class="form-group">
    <label>Lastname</label>
    <input name="lastname" #lastname="ngModel" [(ngModel)]="service.formData.lastname" class="form-control" required />
    <div class="validation-error" *ngIf="lastname.invalid && lastname.touched">This field is required</div>
  </div>

  <div class="form-group">
    <label>Contact Number</label>
    <input name="contactnumber" #contactnumber="ngModel" [(ngModel)]="service.formData.contactnumber" class="form-control" required  />
  </div>

  <div class="form-group">
      <label>Address</label>
      <input name="address" #address="ngModel" [(ngModel)]="service.formData.address" class="form-control" required />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>